{% extends "base.html" %}

{% block content %}

<form action="/countries/{{country.id}}" method="post">
<div>
    <label for="country_name"> Country:</label>
    <input type="text" name="country_name" id="country_name" value="{{country.country_name}}" required autofocus>
</div>

<div>
    <label for="country_population"> population:</label>
    <input type="text" name="country_population" id="country_population" value="{{country.country_population}}" required autofocus>
</div>

<div>
  <label for="visited"> Visited:</label>
  <input type="checkbox" id="visited" name="visited" value="True" placeholder="Been">
  
</div>


  <input value="save" type="submit">

</form>

{% endblock %}

<!-- update button. here? no? -->

<!-- <form class="update" action="/countries/{{country.id}}/edit" method="POST">
    <button style="color: blue;" type="Update"> Update</button>
</form> -->



<!-- ???????????????????????WHERE????????????????? -->


