{% extends "base.html" %}
{% block content %}
<h1>Destinations Visited:</h1>

<form action="/destinations/new">
    <input type="submit" value="Add Destination">
</form>
<p>
    {% for destination in destinations %}

<p><b>{{destination.destination_name}} {{destination.country.country_name}}</b></p>

<p><a href="/destinations/{{destination.id}}/edit">Edit</a></p>

<!-- Add button for delete here  -->

<form class="delete" action="/destinations/{{destination.id}}/delete" method="POST">
       <button style="color:red" type="Delete"> Delete</button>
</form>

{% endfor %}

{% endblock %}
