{% extends "base.html" %}

{% block content %}

<h2> Add Destination:</h2>

<form action="/home" method="post">
    <div>
        <label for="country"> Country:</label>
        <input type="select" id="country" name="country" placeholder="Country" required autofocus>
    </div>
    <div>
        <label for="City"> City:</label>
        <input type="text" id="city" name="city" placeholder="City" required autofocus>
    </div>
    <div>
        <label for="visited"> Visited:</label>
        <input type="checkbox" id="visited" name="vistied" value = "True" placeholder="Been" required autofocus>
        
      </div>

      <button type="submit"> Lets go bitches!</button>
</form>

{% for country in countries %}

<p>{{country.country_name}} {{country.country_population}}</p>

{% endfor %}



{% for destination in destinations %}

<p>{{destination.destination_name}} {{destination.country}}</p>

{% endfor %}

{% endblock %}