
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  button {
      background-color: gainsboro ;
      color: black;
      height: 100;
  padding: 10px 20px;
  text-decoration-style: none;
  margin: 4px 2px;
  cursor: pointer;
  
  }