h1 {
    background-color: black;
    color: goldenrod;
    margin: auto;
    height: 100;
    font-family: fantasy;
}

nav {
    background-color: aquamarine;
    font: status-bar;
    padding: 10;
    /* text-align: right; */
    margin: 70;
    /* color: goldenrod; */
    font-family: fantasy;
    
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:goldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:grey;
  }

img {
    height: 200px;
    width: 1250px;
    
}

#inspo {
  width: 1250px;
  height: 600px;
}
