<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Handlee?query=hand&preview.text=Trip%20%26%20Track&preview.text_type=custom">
    <title>Trip & Track</title>
</head>
<body>
    <header>
        <!-- header goes here -->
        <h1>Trip & Track</h1>
        <!-- <h2><img src="https://i.imgur.com/sOUgMbE.jpg" alt="Travel Photo"></h2> travel photo here <<<<-->
        <nav>
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/countries">Countries</a>
                </li>
                <li>
                    <a href="/destinations">Destinations</a>
                </li>
                <li>
                    <a href="/inspiration">Inspiration</a>
                </li>
                <!-- links o in ehre  -->
            </ul>
        </nav>
        <img src="/static/images/2.png" alt="INSERT IMAGE">
    </header>
    {% block content %}
    {% endblock %}
    <main>
        <!-- main here -->
    </main>
    <footer>
        <!-- fotter here -->
        <section>
            <h2>Site Map</h2>
            <nav>
              <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/inspiration">Inspiration</a></li>
              </ul>
            </nav>
          </section>
    </footer>
    
</body>
</html>