{% extends "base.html" %}

{% block content %}

<h2> Add Destination:</h2>

<form class="home_search" action="/home" method="post">
  <div class="beaut"><div class="home_search_1">
        <label for="country"> Country:</label>
        <input class="home_search_input" type="select" id="country" name="country" placeholder="Country" required autofocus>
    </div>
    <div class="home_search_1">
        <label for="City"> City:</label>
        <input class="home_search_input" type="text" id="city" name="city" placeholder="City" required autofocus>
    </div>
    <div class="home_search_1">
        <label for="visited"> Visited:</label>
        <input class="input_check" type="checkbox" id="visited" name="visited" value = "True" placeholder="Been" required autofocus>
        
      </div>
    </div>  
      <button type="submit"> Submit!</button>
</form>


{% for country in countries %}

<p>{{country.country_name}} Population:{{country.country_population}}</p>

{% endfor %}



{% for destination in destinations %}

<p>{{destination.destination_name}} {{destination.country.country_name}}</p>

{% endfor %}

{% endblock %}

